In [1]:
import os
import sys
import numpy as np
import pandas as pd
import json
import random

In [2]:
train_file = '/data/sulixin/research/contest/quac/train_v0.2.json'
dev_file = '/data/sulixin/research/contest/quac/val_v0.2.json'

train = json.load(open(train_file))
dev = json.load(open(dev_file))

def basic_stat(data):
    print('paragraph {}'.format(len(data)))
    
basic_stat(train['data'])
basic_stat(dev['data'])

paragraph 11567
paragraph 1000

In [3]:
train['data'][10]

{'paragraphs': [{'context': 'Following the success of Hell\'s Angels, Thompson was able to publish articles in a number of well-known magazines during the late 1960s, including The New York Times Magazine, Esquire, Pageant, and Harper\'s. In the Times Magazine article, published in 1967, shortly before the "Summer of Love", and titled "The Hashbury is the Capital of the Hippies", Thompson wrote in-depth about the Hippies of San Francisco, deriding a culture that began to lack the political convictions of the New Left and the artistic core of the Beats, instead becoming overrun with newcomers lacking any purpose other than obtaining drugs. It was an observation on the 1960s\' counterculture that Thompson would further examine in Fear and Loathing in Las Vegas and other articles.  By late 1967, Thompson and his family moved back to Colorado and rented a house in Woody Creek, a small mountain hamlet outside Aspen. In early 1969, Thompson finally received a $15,000 royalty check for the paperback sales of Hell\'s Angels and used two-thirds of the money for a down payment on a modest home and property where he would live for the rest of his life. He named the house Owl Farm and often described it as his "fortified compound."  In early 1968, Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War. According to Thompson\'s letters and his later writings, at this time he planned to write a book called The Joint Chiefs about "the death of the American Dream." He used a $6,000 advance from Random House to travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes. From his hotel room in Chicago, Thompson watched the clashes between police and protesters, which he wrote had a great effect on his political views. The book was never finished, and the theme of the death of the American dream would be carried over into his later work. The contract with Random House was eventually fulfilled with the 1972 book Fear and Loathing in Las Vegas. He also signed a deal with Ballantine Books in 1968 to write a satirical book called The Johnson File about Lyndon B. Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled. CANNOTANSWER',
   'qas': [{'followup': 'y',
     'yesno': 'x',
     'question': 'when did his career take off?',
     'answers': [{'text': 'Thompson was able to publish articles in a number of well-known magazines during the late 1960s,',
       'answer_start': 40}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#0',
     'orig_answer': {'text': 'Thompson was able to publish articles in a number of well-known magazines during the late 1960s,',
      'answer_start': 40}},
    {'followup': 'n',
     'yesno': 'y',
     'question': 'did he have any children?',
     'answers': [{'text': 'Thompson and his family', 'answer_start': 772}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#1',
     'orig_answer': {'text': 'Thompson and his family', 'answer_start': 772}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'did he retire from his career?',
     'answers': [{'text': 'Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled.',
       'answer_start': 2181}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#2',
     'orig_answer': {'text': 'Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled.',
      'answer_start': 2181}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'was he involved in politics?',
     'answers': [{'text': 'travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes.',
       'answer_start': 1562}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#3',
     'orig_answer': {'text': 'travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes.',
      'answer_start': 1562}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'Did he ever win any awards or recognition?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#4',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'did he ever work with any one famous?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#5',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'Are there any other interesting aspects about this article?',
     'answers': [{'text': 'Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War.',
       'answer_start': 1223}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#6',
     'orig_answer': {'text': 'Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War.',
      'answer_start': 1223}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'where there any conflicts in his career?',
     'answers': [{'text': 'The book was never finished, and the theme of the death of the American dream would be carried over into his later work.',
       'answer_start': 1835}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#7',
     'orig_answer': {'text': 'The book was never finished, and the theme of the death of the American dream would be carried over into his later work.',
      'answer_start': 1835}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'did he ever switch careers or leave any unfinished work?',
     'answers': [{'text': 'The book was never finished,',
       'answer_start': 1835}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#8',
     'orig_answer': {'text': 'The book was never finished,',
      'answer_start': 1835}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'where was he born?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#9',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}}],
   'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1'}],
 'section_title': 'Late 1960s',
 'background': "Thompson was born into a middle-class family in Louisville, Kentucky, the first of three sons of Virginia Ray Davison (1908, Springfield, Kentucky - March 20, 1998, Louisville), who worked as head librarian at the Louisville Free Public Library and Jack Robert Thompson (September 4, 1893, Horse Cave, Kentucky - July 3, 1952, Louisville), a public insurance adjuster and World War I veteran. His parents were introduced to each other by a friend from Jack's fraternity at the University of Kentucky in September 1934, and married on November 2, 1935. Thompson's first name came from a purported ancestor on his mother's side, the Scottish surgeon John Hunter.",
 'title': 'Hunter S. Thompson'}

In [4]:
def avg(li):
    return sum(li) * 1.0 / len(li)

def avg_c_len(li):
    return avg( [len(d['context'].split()) for d in li] )

def avg_q_len(paras):
    return avg ( [len(qa['question'].split()) for para in paras for qa in para['qas']] )

def avg_a_len(paras):
    return avg ( [len(qa['answers'][0]['text'].split()) for para in paras for qa in para['qas']] )

def qa_cnt(paras):
    return avg ( [len(para['qas']) for para in paras] )

def a_diff(paras):
    return avg( [ int(qa['answers'][0]['text'] == qa['orig_answer']['text']) for para in paras for qa in para['qas']] )

def a_in_c(paras):
    return avg([qa['answers'][0]['text'] in p['context'] for p in paras for qa in p['qas']])

def yesno_rate(paras):
    return avg([qa['yesno']=='y' for p in paras for qa in p['qas']])

def my_stat(data):
    print()
    rv = {'context_len': [avg_c_len(x['paragraphs']) for x in data],\
          'para_cnt': [len(x['paragraphs']) for x in data],\
          'query_len': [avg_q_len(x['paragraphs']) for x in data],\
          'answer_len': [avg_a_len(x['paragraphs']) for x in data],\
          'qa_cnt': [qa_cnt(x['paragraphs']) for x in data],\
          'answer_diff': [a_diff(x['paragraphs']) for x in data],\
          'avg_bg_len': [len( x['background'].split()) for x in data],\
          'a_in_c': [a_in_c(x['paragraphs']) for x in data],
          'yesno_rate': [yesno_rate(x['paragraphs']) for x in data]
         }
    df = pd.DataFrame(rv)
    return df.describe()

In [5]:
my_stat(train['data'])

,context_len,para_cnt,query_len,answer_len,qa_cnt,answer_diff,avg_bg_len,a_in_c,yesno_rate
count,11567.000000,11567.0,11567.000000,11567.000000,11567.000000,11567.0,11567.000000,11567.0,11567.000000
mean,394.796490,1.0,6.513830,12.458906,7.224691,1.0,86.114982,1.0,0.199479
std,150.331075,0.0,1.222745,4.603039,2.109509,0.0,23.572367,0.0,0.206890
min,251.000000,1.0,2.888889,1.000000,4.000000,1.0,3.000000,1.0,0.000000
25%,307.000000,1.0,5.666667,9.250000,6.000000,1.0,70.000000,1.0,0.000000
50%,365.000000,1.0,6.375000,12.333333,7.000000,1.0,85.000000,1.0,0.166667
75%,443.000000,1.0,7.250000,15.500000,9.000000,1.0,100.000000,1.0,0.300000
max,1615.000000,1.0,15.000000,27.250000,12.000000,1.0,219.000000,1.0,1.000000

In [6]:
my_stat(dev['data'])

,context_len,para_cnt,query_len,answer_len,qa_cnt,answer_diff,avg_bg_len,a_in_c,yesno_rate
count,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000
mean,440.971000,1.0,6.541135,11.826507,7.354000,0.342009,85.915000,1.0,0.199992
std,232.837556,0.0,1.197591,4.076733,2.119239,0.205411,22.938045,0.0,0.166908
min,251.000000,1.0,3.750000,1.000000,4.000000,0.000000,6.000000,1.0,0.000000
25%,312.750000,1.0,5.666667,9.106061,6.000000,0.200000,71.000000,1.0,0.083333
50%,379.000000,1.0,6.375000,11.707143,7.000000,0.333333,86.000000,1.0,0.181818
75%,465.250000,1.0,7.250000,14.555556,9.000000,0.500000,102.000000,1.0,0.285714
max,1584.000000,1.0,11.800000,28.000000,12.000000,1.000000,174.000000,1.0,0.800000