In [1]:
import os
import sys
import numpy as np
import pandas as pd
import json
import random

In [2]:
train_file = '/data/sulixin/research/contest/quac/train_v0.2.json'
dev_file = '/data/sulixin/research/contest/quac/val_v0.2.json'

train = json.load(open(train_file))
dev = json.load(open(dev_file))

def basic_stat(data):
    print('paragraph {}'.format(len(data)))
    
basic_stat(train['data'])
basic_stat(dev['data'])

paragraph 11567
paragraph 1000

In [9]:
train['data'][9]

{'paragraphs': [{'context': 'The book for which Thompson gained most of his fame had its genesis during the research for Strange Rumblings in Aztlan, an expose for Rolling Stone on the 1970 killing of the Mexican-American television journalist Ruben Salazar. Salazar had been shot in the head at close range with a tear gas canister fired by officers of the Los Angeles County Sheriff\'s Department during the National Chicano Moratorium March against the Vietnam War. One of Thompson\'s sources for the story was Oscar Zeta Acosta, a prominent Mexican-American activist and attorney. Finding it difficult to talk in the racially tense atmosphere of Los Angeles, Thompson and Acosta decided to travel to Las Vegas, and take advantage of an assignment by Sports Illustrated to write a 250-word photograph caption on the Mint 400 motorcycle race held there.  What was to be a short caption quickly grew into something else entirely. Thompson first submitted to Sports Illustrated a manuscript of 2,500 words, which was, as he later wrote, "aggressively rejected." Rolling Stone publisher Jann Wenner was said to have liked "the first 20 or so jangled pages enough to take it seriously on its own terms and tentatively scheduled it for publication -- which gave me the push I needed to keep working on it", Thompson later wrote.  The result of the trip to Las Vegas became the 1972 book Fear and Loathing in Las Vegas, which first appeared in the November 1971 issues of Rolling Stone as a two-part series. It is written as a first-person account by a journalist named Raoul Duke on a trip to Las Vegas with Dr. Gonzo, his "300-pound Samoan attorney", to cover a narcotics officers\' convention and the "fabulous Mint 400". During the trip, Duke and his companion (always referred to as "my attorney") become sidetracked by a search for the American Dream, with "two bags of grass, seventy-five pellets of mescaline, five sheets of high-powered blotter acid, a salt shaker half full of cocaine, and a whole galaxy of multi-colored uppers, downers, screamers, laughers ... and also a quart of tequila, a quart of rum, a case of Budweiser, a pint of raw ether, and two dozen amyls."  Coming to terms with the failure of the 1960s countercultural movement is a major theme of the novel, and the book was greeted with considerable critical acclaim, including being heralded by The New York Times as "by far the best book yet written on the decade of dope". "The Vegas Book", as Thompson referred to it, was a mainstream success and introduced his Gonzo journalism techniques to a wide public. CANNOTANSWER',
   'qas': [{'followup': 'y',
     'yesno': 'x',
     'question': 'What is Fear and Loathing in Las Vegas?',
     'answers': [{'text': 'The result of the trip to Las Vegas became the 1972 book Fear and Loathing in Las Vegas,',
       'answer_start': 1296}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#0',
     'orig_answer': {'text': 'The result of the trip to Las Vegas became the 1972 book Fear and Loathing in Las Vegas,',
      'answer_start': 1296}},
    {'followup': 'y',
     'yesno': 'y',
     'question': 'Did it do well?',
     'answers': [{'text': 'the book was greeted with considerable critical acclaim, including being heralded by The New York Times as "by far the best book yet',
       'answer_start': 2253}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#1',
     'orig_answer': {'text': 'the book was greeted with considerable critical acclaim, including being heralded by The New York Times as "by far the best book yet',
      'answer_start': 2253}},
    {'followup': 'y',
     'yesno': 'x',
     'question': 'Did he write it in Vegas?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2554}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#2',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2554}},
    {'followup': 'y',
     'yesno': 'x',
     'question': 'who published the book?',
     'answers': [{'text': 'the 1972 book Fear and Loathing in Las Vegas, which first appeared in the November 1971 issues of Rolling Stone as a two-part series.',
       'answer_start': 1339}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#3',
     'orig_answer': {'text': 'the 1972 book Fear and Loathing in Las Vegas, which first appeared in the November 1971 issues of Rolling Stone as a two-part series.',
      'answer_start': 1339}},
    {'followup': 'y',
     'yesno': 'y',
     'question': 'Did anyone reject it?',
     'answers': [{'text': 'Thompson first submitted to Sports Illustrated a manuscript of 2,500 words, which was, as he later wrote, "aggressively rejected.',
       'answer_start': 900}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#4',
     'orig_answer': {'text': 'Thompson first submitted to Sports Illustrated a manuscript of 2,500 words, which was, as he later wrote, "aggressively rejected.',
      'answer_start': 900}},
    {'followup': 'y',
     'yesno': 'x',
     'question': 'what is the book about?',
     'answers': [{'text': 'It is written as a first-person account by a journalist named Raoul Duke on a trip to Las Vegas with Dr. Gonzo, his "300-pound Samoan attorney",',
       'answer_start': 1473}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#5',
     'orig_answer': {'text': 'It is written as a first-person account by a journalist named Raoul Duke on a trip to Las Vegas with Dr. Gonzo, his "300-pound Samoan attorney",',
      'answer_start': 1473}},
    {'followup': 'm',
     'yesno': 'x',
     'question': 'Why do they go to Vegas?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2554}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#6',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2554}},
    {'followup': 'y',
     'yesno': 'y',
     'question': 'Did it get good reviews?',
     'answers': [{'text': 'Thompson referred to it, was a mainstream success and introduced his Gonzo journalism techniques to a wide public.',
       'answer_start': 2439}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#7',
     'orig_answer': {'text': 'Thompson referred to it, was a mainstream success and introduced his Gonzo journalism techniques to a wide public.',
      'answer_start': 2439}},
    {'followup': 'y',
     'yesno': 'x',
     'question': 'Who gave it good reviews?',
     'answers': [{'text': 'book was greeted with considerable critical acclaim, including being heralded by The New York Times',
       'answer_start': 2257}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#8',
     'orig_answer': {'text': 'book was greeted with considerable critical acclaim, including being heralded by The New York Times',
      'answer_start': 2257}},
    {'followup': 'y',
     'yesno': 'x',
     'question': 'What did the New York Times say?',
     'answers': [{'text': 'The New York Times as "by far the best book yet written on the decade of dope".',
       'answer_start': 2338}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0_q#9',
     'orig_answer': {'text': 'The New York Times as "by far the best book yet written on the decade of dope".',
      'answer_start': 2338}}],
   'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_0'}],
 'section_title': 'Fear and Loathing in Las Vegas',
 'background': "Thompson was born into a middle-class family in Louisville, Kentucky, the first of three sons of Virginia Ray Davison (1908, Springfield, Kentucky - March 20, 1998, Louisville), who worked as head librarian at the Louisville Free Public Library and Jack Robert Thompson (September 4, 1893, Horse Cave, Kentucky - July 3, 1952, Louisville), a public insurance adjuster and World War I veteran. His parents were introduced to each other by a friend from Jack's fraternity at the University of Kentucky in September 1934, and married on November 2, 1935. Thompson's first name came from a purported ancestor on his mother's side, the Scottish surgeon John Hunter.",
 'title': 'Hunter S. Thompson'}

In [3]:
train['data'][10]

{'paragraphs': [{'context': 'Following the success of Hell\'s Angels, Thompson was able to publish articles in a number of well-known magazines during the late 1960s, including The New York Times Magazine, Esquire, Pageant, and Harper\'s. In the Times Magazine article, published in 1967, shortly before the "Summer of Love", and titled "The Hashbury is the Capital of the Hippies", Thompson wrote in-depth about the Hippies of San Francisco, deriding a culture that began to lack the political convictions of the New Left and the artistic core of the Beats, instead becoming overrun with newcomers lacking any purpose other than obtaining drugs. It was an observation on the 1960s\' counterculture that Thompson would further examine in Fear and Loathing in Las Vegas and other articles.  By late 1967, Thompson and his family moved back to Colorado and rented a house in Woody Creek, a small mountain hamlet outside Aspen. In early 1969, Thompson finally received a $15,000 royalty check for the paperback sales of Hell\'s Angels and used two-thirds of the money for a down payment on a modest home and property where he would live for the rest of his life. He named the house Owl Farm and often described it as his "fortified compound."  In early 1968, Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War. According to Thompson\'s letters and his later writings, at this time he planned to write a book called The Joint Chiefs about "the death of the American Dream." He used a $6,000 advance from Random House to travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes. From his hotel room in Chicago, Thompson watched the clashes between police and protesters, which he wrote had a great effect on his political views. The book was never finished, and the theme of the death of the American dream would be carried over into his later work. The contract with Random House was eventually fulfilled with the 1972 book Fear and Loathing in Las Vegas. He also signed a deal with Ballantine Books in 1968 to write a satirical book called The Johnson File about Lyndon B. Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled. CANNOTANSWER',
   'qas': [{'followup': 'y',
     'yesno': 'x',
     'question': 'when did his career take off?',
     'answers': [{'text': 'Thompson was able to publish articles in a number of well-known magazines during the late 1960s,',
       'answer_start': 40}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#0',
     'orig_answer': {'text': 'Thompson was able to publish articles in a number of well-known magazines during the late 1960s,',
      'answer_start': 40}},
    {'followup': 'n',
     'yesno': 'y',
     'question': 'did he have any children?',
     'answers': [{'text': 'Thompson and his family', 'answer_start': 772}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#1',
     'orig_answer': {'text': 'Thompson and his family', 'answer_start': 772}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'did he retire from his career?',
     'answers': [{'text': 'Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled.',
       'answer_start': 2181}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#2',
     'orig_answer': {'text': 'Johnson. A few weeks after the contract was signed, however, Johnson announced that he would not run for re-election, and the deal was cancelled.',
      'answer_start': 2181}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'was he involved in politics?',
     'answers': [{'text': 'travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes.',
       'answer_start': 1562}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#3',
     'orig_answer': {'text': 'travel on the 1968 Presidential campaign trail and attend the 1968 Democratic Convention in Chicago for research purposes.',
      'answer_start': 1562}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'Did he ever win any awards or recognition?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#4',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'did he ever work with any one famous?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#5',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'Are there any other interesting aspects about this article?',
     'answers': [{'text': 'Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War.',
       'answer_start': 1223}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#6',
     'orig_answer': {'text': 'Thompson signed the "Writers and Editors War Tax Protest" pledge, vowing to refuse tax payments in protest against the Vietnam War.',
      'answer_start': 1223}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'where there any conflicts in his career?',
     'answers': [{'text': 'The book was never finished, and the theme of the death of the American dream would be carried over into his later work.',
       'answer_start': 1835}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#7',
     'orig_answer': {'text': 'The book was never finished, and the theme of the death of the American dream would be carried over into his later work.',
      'answer_start': 1835}},
    {'followup': 'm',
     'yesno': 'y',
     'question': 'did he ever switch careers or leave any unfinished work?',
     'answers': [{'text': 'The book was never finished,',
       'answer_start': 1835}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#8',
     'orig_answer': {'text': 'The book was never finished,',
      'answer_start': 1835}},
    {'followup': 'n',
     'yesno': 'x',
     'question': 'where was he born?',
     'answers': [{'text': 'CANNOTANSWER', 'answer_start': 2327}],
     'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1_q#9',
     'orig_answer': {'text': 'CANNOTANSWER', 'answer_start': 2327}}],
   'id': 'C_f9d8069ce5c14c45a92486e19a607c8b_1'}],
 'section_title': 'Late 1960s',
 'background': "Thompson was born into a middle-class family in Louisville, Kentucky, the first of three sons of Virginia Ray Davison (1908, Springfield, Kentucky - March 20, 1998, Louisville), who worked as head librarian at the Louisville Free Public Library and Jack Robert Thompson (September 4, 1893, Horse Cave, Kentucky - July 3, 1952, Louisville), a public insurance adjuster and World War I veteran. His parents were introduced to each other by a friend from Jack's fraternity at the University of Kentucky in September 1934, and married on November 2, 1935. Thompson's first name came from a purported ancestor on his mother's side, the Scottish surgeon John Hunter.",
 'title': 'Hunter S. Thompson'}

In [4]:
def avg(li):
    return sum(li) * 1.0 / len(li)

def avg_c_len(li):
    return avg( [len(d['context'].split()) for d in li] )

def avg_q_len(paras):
    return avg ( [len(qa['question'].split()) for para in paras for qa in para['qas']] )

def avg_a_len(paras):
    return avg ( [len(qa['answers'][0]['text'].split()) for para in paras for qa in para['qas']] )

def qa_cnt(paras):
    return avg ( [len(para['qas']) for para in paras] )

def a_diff(paras):
    return avg( [ int(qa['answers'][0]['text'] == qa['orig_answer']['text']) for para in paras for qa in para['qas']] )

def a_in_c(paras):
    return avg([qa['answers'][0]['text'] in p['context'] for p in paras for qa in p['qas']])

def yesno_rate(paras):
    return avg([(qa['yesno']=='y' or qa['yesno']=='n') for p in paras for qa in p['qas']])


def noanswer_rate(paras):
    return avg([qa['answers'][0]['text']=='CANNOTANSWER' for p in paras for qa in p['qas']])


def my_stat(data):
    print()
    rv = {'context_len': [avg_c_len(x['paragraphs']) for x in data],\
          'para_cnt': [len(x['paragraphs']) for x in data],\
          'query_len': [avg_q_len(x['paragraphs']) for x in data],\
          'answer_len': [avg_a_len(x['paragraphs']) for x in data],\
          'qa_cnt': [qa_cnt(x['paragraphs']) for x in data],\
          'answer_diff': [a_diff(x['paragraphs']) for x in data],\
          'avg_bg_len': [len( x['background'].split()) for x in data],\
          'a_in_c': [a_in_c(x['paragraphs']) for x in data],
          'yesno_rate': [yesno_rate(x['paragraphs']) for x in data],
          'noanswer_rate': [noanswer_rate(x['paragraphs']) for x in data]
         }
    df = pd.DataFrame(rv)
    return df.describe()

In [5]:
my_stat(train['data'])

,context_len,para_cnt,query_len,answer_len,qa_cnt,answer_diff,avg_bg_len,a_in_c,yesno_rate,noanswer_rate
count,11567.000000,11567.0,11567.000000,11567.000000,11567.000000,11567.0,11567.000000,11567.0,11567.000000,11567.000000
mean,394.796490,1.0,6.513830,12.458906,7.224691,1.0,86.114982,1.0,0.253171,0.184585
std,150.331075,0.0,1.222745,4.603039,2.109509,0.0,23.572367,0.0,0.240790,0.169993
min,251.000000,1.0,2.888889,1.000000,4.000000,1.0,3.000000,1.0,0.000000,0.000000
25%,307.000000,1.0,5.666667,9.250000,6.000000,1.0,70.000000,1.0,0.000000,0.000000
50%,365.000000,1.0,6.375000,12.333333,7.000000,1.0,85.000000,1.0,0.200000,0.166667
75%,443.000000,1.0,7.250000,15.500000,9.000000,1.0,100.000000,1.0,0.375000,0.272727
max,1615.000000,1.0,15.000000,27.250000,12.000000,1.0,219.000000,1.0,1.000000,0.800000

In [6]:
my_stat(dev['data'])

,context_len,para_cnt,query_len,answer_len,qa_cnt,answer_diff,avg_bg_len,a_in_c,yesno_rate,noanswer_rate
count,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000
mean,440.971000,1.0,6.541135,11.826507,7.354000,0.342009,85.915000,1.0,0.214923,0.208134
std,232.837556,0.0,1.197591,4.076733,2.119239,0.205411,22.938045,0.0,0.172513,0.180098
min,251.000000,1.0,3.750000,1.000000,4.000000,0.000000,6.000000,1.0,0.000000,0.000000
25%,312.750000,1.0,5.666667,9.106061,6.000000,0.200000,71.000000,1.0,0.100000,0.000000
50%,379.000000,1.0,6.375000,11.707143,7.000000,0.333333,86.000000,1.0,0.200000,0.181818
75%,465.250000,1.0,7.250000,14.555556,9.000000,0.500000,102.000000,1.0,0.333333,0.333333
max,1584.000000,1.0,11.800000,28.000000,12.000000,1.000000,174.000000,1.0,0.800000,1.000000

In [ ]:
# change answerable ones to squad dataset